@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(font/roboto/Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(font/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.content-center {
    margin: 0 auto !important;
    float: none !important;
}


.msgs .topMsg {
    text-align: center;
}

.msgs .topMsg .wlcMessage {
    font-size: 2em;
}


.loginForm {
    padding: 5em 0 !important;
}

form .active {
    color: #B71C1C !important;
}

form input:focus {
    border-bottom-color: #B71C1C !important;
    box-shadow: 0 1px 0 0 #B71C1C !important;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
}